<html>
    <head>

<div class="formwrapper">
  <h2 class="title">Edit event</h2>
  <form method="POST" >
  {{ form.csrf_token }}
      <div class="form-field">{{ form.start.label }} {{ form.start }}</div>
      <div class="form-field">{{ form.end.label }} {{ form.end }}</div>
      <div class="form-field">{{ form.subject.label }} {{ form.subject }}</div>
      <div class="form-field">{{ form.description.label }} {{ form.description }}</div>
      <input type="submit" value="Update">
      {{ form.submit }}
  </form>
</div>
</body>
</html>